<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  <head>
    <!-- Your meta tags, title, and other head content goes here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <!-- Additional SEO meta tags or links can go here -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC6N74L6N2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GC6N74L6N2');
    </script>

    <!-- Link to your CSS files or additional resources here -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="grid-container{{ if .Params.layout }} {{ .Params.layout }}{{ end }}{{ if .IsHome }} home{{ end }}">
      {{- block "header" . }}{{- partial "header.html" . -}}{{- end }}
      {{- block "main" . }}{{- end }}
      {{- block "footer" . }}{{- partial "footer.html" . -}}{{- end }}
    </div>
  </body>
</html>
